<p id="notice"><%= notice %></p>

<h1>Preorders</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @preorders.each do |preorder| %>
      <tr>
        <td><%= link_to 'Show', preorder %></td>
        <td><%= link_to 'Edit', edit_preorder_path(preorder) %></td>
        <td><%= link_to 'Destroy', preorder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preorder', new_preorder_path %>
