<div class="col-sm-2"></div>
<div class="col-sm-8">
  <h2>Pay Method</h2>
  <form action="/action_page.php">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="Name">Card Number:</label>
          <div class="panel panel-default">
            <div class="panel-body"> <%= @pay_method.card_number %></div>
          </div>
        </div>
        <div class="form-group">
          <label for="Last Name">Name in Card:</label>
          <div class="panel panel-default">
            <div class="panel-body"><%= @pay_method.name_in_card %> </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Email">Expiration Date:</label>
          <div class="panel panel-default">
            <div class="panel-body"><%= @pay_method.expiration_date %> </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Contact Information">Company</label>
          <div class="panel panel-default">
            <div class="panel-body"><%= @pay_method.company %></div>
          </div>
        </div>
      </div>
    </div>
    <a type="button" class="btn btn-primary" style="color: white" <%= link_to 'Edit', edit_pay_method_path(@pay_method) %> </a>
    <a type="button" class="btn btn-primary" style="color: white" <%= link_to 'Back', pay_methods_path %> </a>
  </form>

</div>